@model Facturacion.Models.Factura

@{
    ViewBag.Title = "Ver";
}

<h2>Ver</h2>

<div>
    <h4>Facturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Facturas", "Index")
</p>
